@model InventoryManagement.Web.Models.Carton.NewCartonForm

@{
    ViewBag.Title = "New Carton";
}

<h2>New Carton</h2>

@using (Html.BeginForm("New", "Carton", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.BootstrapLabel("ItemList")
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.ItemId, @Model.ItemList, new { @class = "form-control" })
            @Html.ValidationMessage("ItemList")
        </div>
    </div>

    <div class="form-group">
        @Html.BootstrapLabel("NumberOfPieces")
        <div class="col-md-10">
            @Html.Editor("NumberOfPieces")
            @Html.ValidationMessage("NumberOfPieces")
        </div>

    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Carton" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts
{
    <script type="text/javascript">

        $().ready(function() {

         

        });

    </script>
}