@model InventoryManagement.Web.Models.Inventory.InventorySummary

@{
    ViewBag.Title = "title";
}

<h2>Inventory Management</h2>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="#">@Html.ActionLink("Add Piece(s)", "AddPiece", "Inventory")</a></li>
            <li><a href="#">@Html.ActionLink("Sell Piece(s)", "SellPiece", "Inventory")</a></li>
            <li><a href="#">@Html.ActionLink("Add Carton(s)", "AddCarton", "Inventory")</a></li>
            <li><a href="#">@Html.ActionLink("Sell Carton(s)", "SellCarton", "Inventory")</a></li>
        </ul>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                @Html.BootstrapLabel("ItemList")
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.ItemId, @Model.ItemList, new { @class = "form-control" })
                    @Html.ValidationMessage("ItemList")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2">
            <div class="form-group">
                <button type="button" class="btn btn-primary">Make Inventory</button>
            </div>
        </div>
    </div>

    <div class="row">




    </div>
</div>





@section Scripts
{
    <script type="text/javascript">

        $().ready(function () {



        });

    </script>
}

